{% extends 'users/base.html' %}


{% block content %}
	<div class="container">
		
		<h1>About us</h1>
		<hr style="margin-top: 0%">


		<p>Hey Guys this is the IIT Jodhpur E-Commerce site. This is an OLX type of website. You can use it to buy and sell stuff from/to other students. </p>

		<h3>To Buy:</h3>
		<p>
			<ol>
			<li>Goto Buy in navbar.</li> 
			<li>Click on view-item on the item you want to buy.</li>
			<li>Contact the seller.</li>
			</ol>


		</p>

		<h3>To Sell:</h3>

		<p>
			<ol>
			<li>To sell you need to be logged in.</li> 
			<li>If you are not an existing user then Register else directly LogIn.</li>
			<li>Click on the Sell button on navbar.</li>
			<li>Add the item.</li>
			</ol>


		</p>

		<h3>To Remove a Sold item:</h3>

		<p>
			<ol>
			<li>You need to be Logged In.</li> 
			<li>Goto to Profile. It shows your existing items.</li>
			<li>Click on the Remove button on item you want to remove.</li>
			</ol>


		</p>

	</div>
{% endblock %}

